- if @bread_crumbs[0..-2].present?
  %ul.breadcrumb
    - @bread_crumbs[0..-2].each do |bread|
      %li
        %a{href: bread[:link]}
          = bread[:name]
    %li.active
      = @bread_crumbs[-1][:name]
