.page-header {
  margin: 20px 0 20px;
}

div.pager {
  margin: 20px 0;
}

h2 {
  margin: 10px 0;
}

article {
  padding-bottom: 40px;
}

.breadcrumb {
  margin: 15px 0;
}

body {
  font-family: Lucida Grande,Lucida Sans Unicode;
}

div#info {
  margin: 15px 0 0 0;
  text-align: center;
}

.social_btn {
  width: 100%;
  margin: 10px 0;
  &:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
  }
  .hatena {
    display: inline;
    float: left;
    width: 60px;
  }

  .twitter {
    display: inline;
    float: left;
    width: 100px;
  }

  .facebook {
    display: inline;
    float: left;
    width: 120px;
  }
}
.post_info {
  text-align: right;
  ul {
    display: inline;
  }
  li {
    display: inline;
    list-style: none;
    margin-right: 5px;
  }
}

#disqus_thread {
  margin-top: 10px;
}