div.pager {
  margin: 20px 0;
}

h2 {
  margin: 10px 0;
}

article {
  padding-bottom: 40px;
}

.breadcrumb {
  margin: 15px 0;
}

.navbar {
  .brand {
    padding: 8px 20px 12px 0px;
  }
  .container {
    .brand {
      margin: 5px 0;
    }
    li {
      margin: 5px 0;
    }
  }
}

body {
  font-family: Lucida Grande,Lucida Sans Unicode;
  padding-top: 45px;
}

div#info {
  margin: 15px 0 0 0;
  text-align: center;
}

.social_btn {
  width: 100%;
  margin: 10px 0;
  &:after {
    content:"";
    display:block;
    overflow:hidden;
    clear:both;
  }
  .hatena {
    display: inline;
    float: left;
    width: 60px;
  }

  .twitter {
    display: inline;
    float: left;
    width: 100px;
  }

  .facebook {
    display: inline;
    float: left;
    width: 120px;
  }
}
.post_info {
  float: right;
}
